@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin:  0;
    box-sizing: border-box;
    color: #E0E0E0;
    font-family: "Poppins";
}

p{
    margin: 0;
}

main{
    width: 100vw;
    height: 100vh;

    display: flex;

}

.auth{
    width: 50%;
    height: 100%;

    display: flex;

    flex-direction: column;
    justify-content: center;
    gap: 5%;
    align-items: center;

    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
}


.welcome{
    width: 50%;
    height: 20%;
    
    font-size: 50px;
}

.welcome__subtitle{
    width: 90%;
    font-size: 16px;
}

.container__login{
    width: 50%;
    height: 35%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.login__title{
    font-size: 20px;
}

.login__box, .pass__box{
    width: 100%;
    height: 20%;
    
    
}

input{
    width: 80%;
    height: 80%;

    border: 1px solid #FFFFFF;
    border-radius: 50px;
    padding: 0 15% 0 5%;
    box-sizing: border-box;
    margin-right: 5px;

    background: #26292C;
    color: #fff;
}

.input-err{
    border-color: #E9B425;
}

.icon-login, .icon-password{
    height: 35%;
    transition: all 1s;
}

.icon-animation{
    transform: translateX(-250%);
    
}

.msg-err{
    color: #E9B425;
    font-size: 14px;
    width: 40% ;
    visibility: hidden;
    height: 50px;
    text-align: center;
    position: relative;
    right: 5%;
    

}

.show-err{
    visibility: visible;
}


button{
    width: 40%;
    height: 6%;
    border: none;

    color: #FFFFFF;
    font-weight: 700;

    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 50px;

    position: relative;
    right: 5%;
    
    cursor: pointer;
}

.image{
    width: 50%;
    height: 100%;

    overflow: hidden;
    position: relative;
}

.logo-compass{
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
}
.img-main{
    width: 100%;
    height: 100%;
}
